<div class="row">
  <div class="form-group col-sm-6">
    <label for="input" class="control-label">GPIO Pin Number :</label>
    <div>
      <select name="" id="input" class="form-control" ng-model="pin.id" required="required">
        <option value="{{value}}" ng-repeat="value in gpioPins">{{value}}</option>
      </select>
    </div>
  </div>
  <div class="form-group col-sm-6" ng-if="pin.id">
    <label for="input" class="control-label">GPIO Pin Mode :</label>
    <div>
      <select name="" id="input" class="form-control" ng-model="pin.mode" required="required">
        <option value="{{mode}}" ng-repeat="mode in gpioModes">{{mode}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row" ng-if="pin.mode && pin.id">
  <div class="col-lg-6" ng-hide="pin.mode === 'pwm'">
    <label for="toggle">
      <h4>Toggle : <span class="label" ng-class="(led || pin.pwm)?'label-success':'label-danger'">GPIO {{pin.id}}</span>
      </h4>
    </label>
    <div class="row" id="toggle">
      <button type="button" class="btn btn-success btn-block" ng-click="toggleLed(1)">On</button>
      <button type="button" class="btn btn-danger btn-block" ng-click="toggleLed(0)">Off</button>
    </div>
  </div>
  <div class="col-lg-6" ng-hide="pin.mode === 'output'">
    <label for="pwm"><h4>Pwm : <span class="label" ng-class="(led || pin.pwm)?'label-success':'label-danger'">GPIO {{pin.id}}</span> <span class="label label-primary">{{pin.pwm}}%</span></h4></label>
    <div class="row" id="pwm">
      <input id="slider1" type="range" min="0" max="100" step="5" ng-model="pin.pwm" ng-click="update()"/>
    </div>
  </div>
</div>